<section class="page-section" id="about-team">
<div class="container">
  <div class="row">
	<div class="col-lg-12 text-center">
	  <h2 class="section-heading text-uppercase">Founders</h2>
	</div>
  </div>
	<br>
  <div class="row">          	
  <div class="row">
   	  <div class="team-member">
      <div class="col">
		    <img class="mx-auto rounded-circle" src="assets/img/team/IMG-7180.jpg" alt="">
      </div>
		<h4>Jayden Wang</h4>
     <p class="text-muted">Cellist and Pianist <br> Performer Recruitment Director</p>
	  </div>
      <div class="col" "text-center" >
        <p class="text">
         Jayden Wang began his music journey at the age of four, when he began learning piano. After moving to Granger, 
	 Indiana, in 2011, he has participated in and won many regional and state competitions, including the Stickley Piano Competition
	 as well as winning first at the State Hoosier Auditions. He has studied piano under Linda Belleville. 
	 Jayden also began playing cello when he was 11. He has since performed as principal cellist in the Penn High School Symphonic Orchestra, 
	 the South Bend Youth Symphony Orchestras, and participated in a piano trio in the Fischoff National Chamber Music Competition, 
	 winning the Geoffroy Award. He currently studies cello under Lara Turner. 
	 Jayden was inspired to initiate Music For after performing a few times at local senior living homes. 
	 The experience for him was beneficial and enlightening, encouraging him to spread similar opportunities to as many people as possible.
	 As Performer Recruitment Director, Jayden works with local organizations to gather student musicians for the cause.
          </p>
      </div>    
	</div>
  
	<div class="row">
	  <div class="team-member">
    <div class="col">
		  <img class="mx-auto rounded-circle" src="assets/img/team/IMG_6385.jpg" alt="">
    </div>
		<h4>Cameron Poznanski</h4>
	 <p class="text-muted">Double Bassist <br> Senior Living Performance Director</p>
	  </div>
    <div class="col" "text-center" >
        <p class="text">
          <br>
             Cameron Poznanski, a senior at Penn High School, has aspired to be a great bassist since the sixth grade. He is the first in his family to fall in love with orchestral music 
	     and has taken huge steps in order to attain his aspirations. In his first year learning, with the help of his private teacher Gayle Sampson, he competed in the Level I ISSMA Solo Event,
	     earning a gold medal with a renowned piece named The Elephant. Every year since, he has earned gold medals in both the ISSMA solo and ensemble events. 
	     It was Cam's second year of learning the double bass that he auditioned for the South Bend Youth Symphony, earning himself a spot in the highest orchestra, 
	     allowing him to get 1 on 1 help with Ed Randles, a bassist for the South Bend Symphony, every Sunday. Recently, Cam's talent was noticed when he was offered a spot to play with the Notre Dame Orchestra
	     in their final concert Carmina Burana, and this summer, Cam has taken on the responsibility of teaching a middle school student to play the bass
	     and hopefully inspire him to fall in love with the instrument like he did. Cam does not only have a passion for playing the bass, though, as he loves neuroscience, 
	     and he wishes to go to college to study it and find a career in the subject. As Senior Living Performance Director, Cameron manages performances at our local senior living communities.

          </p>
      </div>
    
	</div>
  
  <div class="row">
	  <div class="team-member">
    <div class="col">
    	<img class="mx-auto rounded-circle" src="assets/img/team/Suzana.jpg" alt="">
    </div>
			<h4>Suzana Josenhans</h4>
          <p class="text-muted">Violinist <br> Instructive Performance Director</p>
			  </div>
    <div class="col" "text-center" >
      <p class="text">
        <br>
       Suzana Josenhans began playing violin as a three-year-old with the Suzuki program in Evansville, Indiana.
       Under the patient guidance of her private teacher, group lessons, and practicing, 
       Suzana learned the fundamentals of violin technique and the art of listening. 
       At the age of 10, Suzana began playing in the Evansville Philharmonic Youth Orchestra, 
       where she served as concertmaster of the younger ensemble for the 2019-2020 season. 
       She went on to play first violin in the large ensemble. Upon moving to South Bend, Indiana in July 2022, 
       Suzana became a member of the Symphonic Orchestra at Penn High School and of the South Bend Youth Symphony Orchestra, 
       serving in the first violin sections of both orchestras. She currently studies with Aviva Hakanoglu.	
       As Instructive Performance Director, Suzana organizes performances with local elementary schools, introducing them to music.</p>
    </div>
	</div>

	<div class="row">
	  <div class="team-member">
      <div class="col">
		    <img class="mx-auto rounded-circle" src="assets/img/team/zichu.jpg" alt="">
      </div>
		<h4>Felix Zhang</h4>
          <p class="text-muted">Violinist and Pianist <br> Formal Performance Director</p>
	  </div>
      <div class="col" "text-center" >
        <p class="text">
            <br>
        Felix Zhang, a senior at Penn High School, started learning piano at the age of five, and since then he has competed in numerous regional, national, and international competitions. 
	He has received top prizes, including seven winner prizes at the Stickley Piano Competition, first place at the 2020 Gene Marcus Piano Competition, 
	third place at the Pelican International Music Competition in 2021, second place at the Carmel Klavier International Piano Competition in 2021,
	and first place at the South Bend Youth Symphony Orchestra Concerto competition in Fall of 2021. Felix began his piano studies with Melissa Luan and currently studies with Dr. Geena Kam. 
	Felix also plays violin, and currently studies with Bruce Morrow. He is currently a member of the South Bend Youth Symphony Orchestra, 
	and has also performed as the concertmaster of the Indiana All-State Orchestra. He has also taken part in various chamber music programs, 
	such as the Fischoff Chamber Music Academy and the SBYSO Chamber Music Academy. Felix’s favorite area of study is mathematics, and he plans to pursue a career in this field. 
	As Formal Performance Director, Felix works with locations to organize formal recital-like performances.</p>
      </div>    
	</div>

<div class="row">
	  <div class="team-member">
      <div class="col">
		    <img class="mx-auto rounded-circle" src="assets/img/team/James.png" alt="">
      </div>
		<h4>James Pennix</h4>
          <p class="text-muted">Violist <br> Public Performance Director</p>
	  </div>
      <div class="col" "text-center" >
        <p class="text">
            <br>
          James's first experience in music was learning the piano around age 5. After he started learning piano, his parents bought a drum set for him and him siblings and he learned how to play it. 
	  Now, he plays the drum set for his church service every Sunday. He first began playing the viola when he was in 6th grade, at 11 years old. He is currently studying with Bruce Morrow,
	  is in the Symphonic Orchestra at Penn High School, and is also a member of the Tri-M music honors society. He also plays in the South Bend Youth Symphony Orchestra. 
	  Outside of music, he runs track and field at Penn High School. As Public Performance Director, James manages performances of ambient music at local parks, libraries, and hospitals.</p>
      </div>    
	</div>
  </div>

	</div>
</section>

