
  <section class="page-section" id="our-program">
    <div class="container">
	
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About Us</h2>
          
		  <h3 class="section-subheading text-muted">Music For is a nonprofit organization based in Northern Indiana aiming to make a difference in the community with music.</h3>
		  
        </div>
      </div>
	  
      <div class="row text-center">
	  
        <div class="col-lg-12">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fa-duotone fas fa-chalkboard fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading"><p>For... Who?</p>
</h4>
          <div class="text-muted"><p>Well... everyone. As an organization, our goal is to provide the amazing gift of music to everyone in the community, for free- but we especially aim target those who may not usually have the opportunity to enjoy music, including those limited by their financial situation, location, or age. We work with local student musicians, encouraging them to use their incredible musical talent for a good cause- and we are ever grateful for their willingness and dedication.</h3>
</div>
        </div>
	  
      </div>
	  
    </div>
  </section>

         
      
      

