<section class="page-section" id="our_performers">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading text-uppercase">Our Performers</h2>
        <div class="text-muted">
           <h3 class="section-subheading">We are eternally grateful for the local Michiana businesses and organizations that sponsor us, allowing us to reach as many people we can.</h3>
        </div>
        </div>
      <br>
    </div>
    <div class="row justify-content-center"> <!-- Add 'justify-content-center' class here -->
      <div class="col-md-4 text-center"> <!-- Adjust the column width as per your requirements -->
        <div class="team-member">
          <img class="img-thumbnail" src="assets/img/team/IMG-7180.jpg" alt="">
          <h4>Tanya Datta</h4>
        </div>
      </div>
      <div class="col-md-4 text-center"> <!-- Adjust the column width as per your requirements -->
        <div class="team-member">
          <img class="img-thumbnail" src="assets/img/team/IMG_6385.jpg" alt="">
          <h4>Rudra Patel</h4>
        </div>
      </div>
      <div class="col-md-4 text-center"> <!-- Adjust the column width as per your requirements -->
        <div class="team-member">
          <img class="img-thumbnail" src="assets/img/team/IMG-7624.jpg" alt="">
          <h4>Emily Nochowitz</h4>
        </div>
      </div>
      <div class="col-md-4 text-center"> <!-- Adjust the column width as per your requirements -->
        <div class="team-member">
          <img class="img-thumbnail" src="assets/img/team/zichu.jpg" alt="">
          <h4>Zichu Wang</h4>
        </div>
      </div>
      <div class="col-md-4 text-center"> <!-- Adjust the column width as per your requirements -->
        <div class="team-member">
          <img class="img-thumbnail" src="assets/img/team/IMG-6963.jpg" alt="">
          <h4>Allison Yu</h4>
        </div>
      </div>
      <div class="col-md-4 text-center"> <!-- Adjust the column width as per your requirements -->
        <div class="team-member">
          <img class="img-thumbnail" src="assets/img/team/IMG-6963.jpg" alt="">
          <h4>Allison Yu</h4>
        </div>
    </div>
  </div>
</section>
