
  <section class="page-section" id="our-program">
    <div class="container">
	
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Program</h2>
          
		  <h3 class="section-subheading text-muted">After School AI is a program created by four Penn High School seniors that aims to spark youth interest in the realm of artificial intelligence.</h3>
		  
        </div>
      </div>
	  
      <div class="row text-center">
	  
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fa-duotone fas fa-chalkboard fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading"><p>Educate</p>
</h4>
          <div class="text-muted"><p>As technology faces revolutionary developments, AI will play a critical role in the future of today’s generation. Our mission is to introduce and educate local elementary students to this vast field. To do so, we plan to make 45-minute visits to elementary schools in the PHM district through Kids Club, as well as other educational events, and showcase enriching presentations that are easy to understand.</p>
</div>
        </div>
	  
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fa-duotone fas fa-code fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading"><p>Content</p>
</h4>
          <div class="text-muted"><p>In order to introduce the complex topic of artificial intelligence, we will first engage the students in games that utilize machine learning. This will allow them to see its many diverse (and fun!) applications. Following the interactive games, the presentation will briefly cover how they were created using analogies that kids can understand. We will end with a few examples of how AI is implemented in the real world.</p>
</div>
        </div>
	  
      </div>
	  
    </div>
  </section>

         
      
      

