<section class="page-section" id="our-program">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">OUR PROGRAM</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>

      <div class="column">
        <div class="program-section">
        <div class="column">
            <i class="fa-solid fa-person-chalkboard"></i>
        </div>
        <h5>Educate</h5>
        <div class="col">
            <p class="text">
            As technology faces revolutionary developments, 
            AI will play a critical role in the future of today’s 
            generation. Our mission is to introduce and educate local elementary 
            students to this vast field. To do so, we plan to make 45-minute visits to elementary schools in the PHM district through Kids Club, as well as other educational events, and showcase enriching presentations that are easy to understand.
            </p>
        </div>
        
    <div class="column">
        <div class="program-section">
        <div class="column">
            <i class="fa-solid fa-computer"></i>
        </div>
        <h5>Content</h5>
        <div class="col">
            <p class="text">
            In order to introduce the complex topic of artificial intelligence, we will first engage the students in games that utilize machine learning. This will allow them to see its many diverse (and fun!) applications. Following the interactive games, the presentation will briefly cover how they were created using analogies that kids can understand. We will end with a few examples of how AI is implemented in the real world.
            </p>
        </div>
        </div>
            
            
            
        </div>
        </div>
      
            

          
      
      

