<section class="page-section" id="sponsors">
<div class="container">
  <div class="row">
	<div class="col-sm-4 text-center">
	  <h2 class="section-heading text-uppercase">Sponsors</h2>
	</div>
  </div>
  <div class="row">          	

   	  <div class="team-member">
      <div class="col">
		    <img class="mx-auto rounded-circle" src="assets/img/team/IMG-7180.jpg" alt="">
      </div>
		<h4>Tanya Datta</h4>
   
	  </div>
      <div class="col" "team-member" >
        <p class="text">
          <br>
          Tanya Datta is an avid coder and aspiring computer scientist with much experience in machine learning.
          </p>
      </div>    

  
	
	  <div class="team-member">
    <div class="col">
		  <img class="mx-auto rounded-circle" src="assets/img/team/IMG_6385.jpg" alt="">
    </div>
		<h4>Rudra Patel</h4>
	
	  </div>
    <div class="col" "text-center" >
        <p class="text">
          <br>
              As a hobbyist coder, Rudra Patel is familiar with coding languages such as Python and Java, 
              and has experience in web development and machine learning. 
          </p>
      </div>
    
  
	  <div class="team-member">
    <div class="col">
    	<img class="mx-auto rounded-circle" src="assets/img/team/IMG-7624.jpg" alt="">
    </div>
			<h4>Emily Nochowitz</h4>
          <p class="text-muted">Mishawaka-Penn-Harris <br> Public Library Coordinator</p>
			  </div>
    <div class="col" "text-center" >
      <p class="text">
        <br>
        <br>
        She also has experience organizing elementary school aged children as
        a prior Camp Counselor of Penn High School’s Tennis Camp.         
      </p>
    </div>

	  <div class="team-member">
      <div class="col">
		    <img class="mx-auto rounded-circle" src="assets/img/team/zichu.jpg" alt="">
      </div>
		<h4>Zichu Wang</h4>
          <p class="text-muted">St. Joe County Public Library <br> Tutt Branch Coordinator</p>
	  </div>
      <div class="col" "text-center" >
        <p class="text">
            <br>
          Zichu Wang is experienced in computer programming as well as data science. 
        </p>

	  <div class="team-member">
      <div class="col">
		    <img class="mx-auto rounded-circle" src="assets/img/team/IMG-6963.jpg" alt="">
      </div>
		
		  <h4>Allison Yu</h4>
          <p class="text-muted">Social Media Coordinator</p>
	  </div>
      <div class="col" "text-center" >
        <p class="text">
            <br>
          Allison Yu has experience in data science through her work with a Notre Dame professor
          regarding data visualization and information perception.
	</p>
      </div>    


	</div>
</section>
